body {
    padding-bottom: 40px;
    padding-top: 60px;
}
ul.nav-pills {
	margin-bottom: 10px;
}
.grid-view {
	padding-top: 5px;
}
.grid-view .summary {
	text-align: left;
}
.grid-view-loading { 
	background: url(../img/loading.gif) no-repeat 50% 0%; 
}
.grid-view .filters .filter-container {
	padding: 0 10px 0 0;
}
.grid-view input[type="checkbox"] {
	margin-top: -2px;
}
.detail-view {
	margin-top: 15px;
}
.detail-view th {
	font-weight: 500;
	text-align: left;
	width: 200px;
}
.detail-view td {
	padding-left: 10px;
}
.detail-view th, .detail-view td {
	border: 1px solid #DDD;
}
.pagination {
	margin: 0;
}
legend + .control-group, .form-actions {
	margin-top: 0px;
}