.field-left {
    float: left;
    width: 120px;
    text-align: left;
    padding-top: 7px; 
}
.field-right {
    /*margin-left: 10px;*/
    text-align: left;
}
.field-error {
    text-align: left;
    padding: 5px 5px 5px 0;
    /*margin: 10px 0 0 10px;*/
}

.text_error {
    float: left;
}

.clr {
    clear: both;
}

.box label {
    font-weight: bold;
}

#box_sign .box_wrapper{
	margin-left: 0;
}
#box_sign .box_wrapper p.already{
	text-align: center;
	font-style: 15px;
	color: #454B52;
}
#box_sign .box_wrapper p.already a{
	color: #454B52;
	margin-left: 3px;
	text-decoration: underline;
}
#box_sign .box{
    background-color: white;
	border: 1px solid #CCC;
	border-radius: 4px 4px 4px 4px;
	float: none;
	padding-bottom: 26px;
	margin: 50px auto 0;
	width: 32.5%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 10px 0px #DDD;
}
#box_sign .box .head{
	background-color: #F4F4F4;
    border-bottom: 1px solid #D6D6D6;
    border-radius: 4px 4px 1px 0;
    display: inline-block;
    margin-bottom: 37px;
    padding: 25px 0 25px;
    text-align: center;
    width: 100%;
}
#box_sign .box .head h4{
	font-weight: normal;
	color: #373D44;
	font-size: 21px;
	margin: 0px;
}
#box_sign form{
	margin: 0px;
}
#box_sign .box .form{
	margin: 0 auto;
	text-align: center;
	width: 90%;
}
#box_sign .box .form input[type="text"], 
#box_sign .box .form input[type="password"],
#box_sign .box .form select
{
	border-color: #DBDBDB #EAEAEA #EAEAEA #DBDBDB;
    border-left: 1px solid #DBDBDB;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    height: 25px;
    margin: 5px 0px 0px 0px;
    /*width: 95%;*/
}

#box_sign .box .form select {
    height: 30px;
}

#box_sign .box .form input[type="submit"] {
	border-color: #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    color: #394350;
    font-size: 16px;
    font-weight: 900;
    margin-top: 34px;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	#box_sign .box{
	  width: 54%;
	}
}
@media (max-width: 979px) {
	#box_sign .box{
	  width: 50%;
	}
}
@media (min-width: 980px) {
	#box_sign .box{	  
		width: 50%;
	}
}
@media (max-width: 480px) {
	#box_sign .box {
		width: 100%;  
	}
}
/* Large desktop */
@media (min-width: 1200px) {
	#box_sign .box{
		width: 45%; /* fix */
	}
}
