#status_message {
    background-color: #FFE8E8;
    border: 1px solid #F69C9C;
    border-radius: 5px 5px 5px 5px;
    bottom: 20px;
    color: black;
    padding: 10px;
    position: relative;
    text-align: center;
    text-indent: 10px;
}
#status_message {
    color: black;
    text-align: center;
    text-indent: 10px;
}

.success {
    margin: 0 auto 20px;
    font-size: 15px;
    padding: 14px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}

.row {margin-left: 0px;}

.form .errorSummary {
    border-color: #B94A48;
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: left;
    color: #B94A48;
    margin-bottom: 20px;
}

.form .error {
    color: #B94A48;
}

.clear {
    clear: both;
}

